[MASTER]
django-settings-module=gbooks.settings

disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0415, #  Import outside toplevel (django.core.management.execute_from_command_line) (import-outside-toplevel)
    E1101, # instance of 'Book' has no '_meta' member (no-member)
    R0902, # too many instance attributes (9:7)

load-plugins=
    pylint_django,