a:hover {
    cursor: pointer
}

body {
    background-color: #344734;
    color: white;
}

h1 {
    color: white;
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: small;
}

.bg {
    background-color: rgba(108, 146, 108, .5);
}

.hidden {
    display: none;
    visibility: hidden;
}

.bg-modal {
    color: #0f5132;
    font-style: italic;
}

input, select {
    height: 2.2em;
}

li {
    list-style: none;
}
